#root {
  height: 100%;
}

.app {
  height: 100vh;
}

nav {
  background-color: wheat;
  padding: 30px 25px;
}


/* Helpers */
.font--xl{
  font-size: x-large;
}

.margin--med {
  margin: 2rem;
}

.side-bar > h3,
.side-bar > h4 {
  margin: 0;
}

.tab-container {
  display: flex;
}

.tab-list {
  display: flex;
  width: 8vw;
  height: 100vh;
  flex-direction: column;
  margin-top: 8rem;
}

.tab-panel {
  width: 100%;
  margin: 2rem;
}

/* Gallery */

.gallery__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.gallery__image {
  max-height: 70vh;
}

/* Contact Form */

.contact__section{
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.contact__input{
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 40%;
  min-height: 5vh;
}

.contact__button {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: .5rem 1rem;
}

