#root {
  height: 100%;
}

.app {
  height: 100vh;
}

nav {
  background-color: #f6e9e6;
  padding: 30px 25px;
}

/* Helpers */
.text--xl {
  font-size: x-large;
}

.text--sm {
  font-size: small;
}

.margin--med {
  margin: 2rem;
}

.text--capitalize {
  text-transform: capitalize;
}

.text--error {
  color: red; 
}

.side-bar > h3,
.side-bar > h4 {
  margin: 0;
}

.loading-animation {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* Tabs */

.tab__btn{
  margin: 0.2rem auto;
  padding: 0.2rem;
  min-width: 10rem;
  &.is--active{
    background-color: #e7dcda;
  }
}

.tab-container {
  display: flex;
}

.tab-list {
  display: flex;
  height: 100vh;
  flex-direction: column;
  margin-top: 8rem;
}

.tab-panel {
  width: 100%;
  margin: 2rem;
}

/* Gallery */

.gallery__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.gallery__image {
  max-height: 70vh;
  border-radius: 5px;
}

/* Contact Form */

.contact__section {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.contact__input {
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 40%;
  min-height: 5vh;
  &.has--error {
    border-color: red;
  }
}

.contact__button {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5rem 1rem;
}
